.app__body {
  display: flex;
  height: calc(100vh - 100px);
  background-color: #f9f9f9;
}

.app__content {
  flex: 1;
  padding: 45px 35px;
  overflow: auto;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 设置浏览器宽度大于1280px小于1440px的CSS样式 */
/* @media screen and (min-width: 1280px) and (max-width: 1440px) {
  .app__content {
    min-width: 1280px;
  }
} */

/* 设置浏览器宽度大于1440px小于1920px的CSS样式 */
/* @media screen and (min-width: 1440px) and (max-width: 1920px) {
  .app__content {
    min-width: 1440px;
  }
} */
